{% extends "base.html" %}

{% block mainbody %}
    <h1>Project Archive</h1>
    <p>Welcome to the project archive. Here you can find all the completed projects.</p>

    <ul>
        {% for project in projects %}
            <li>
                <h2>{{ project.title }}</h2>
                <p>{{ project.topic }}</p>
                <a href="{{ project.video.url }}" target="_blank" class="video">{{ project.thumbnail }}</a>
                <p><strong>Completion Date:</strong> {{ project.completion_date }}</p>
            </li>
        {% endfor %}
{% endblock %}